@font-face {
    src: url(../fonts/Raleway-Regular.ttf);
    font-family: raleway;
  }
body{
    font-family: "raleway";
    background-color: #34495E;
}
*{
    padding: 0px;
    margin: 0px;
}
/* NAVBAR MENU AREA START */
.open-btn{
    width: 50px;
    margin-right: 10px;
}
.open-btn img{
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.cus-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin: 25px auto;
}
.left-side{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.profile-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;  
}

/* SEARCH AREA */
.search-area{
    width: 70%;
}
.search-area input{
    background-color: transparent;
    width: 100%;
    margin: auto;
    height: 45px;
    border: 0.5px solid #ECF0F1;
    box-sizing: border-box;
    border-radius: 10px;
}
.search-area input:focus{
    background-color: transparent;
    color: #ECF0F1;
}
.search-area input[type="text"]{
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.03em;
    color: rgba(196, 196, 196, 0.5);
}
.cus-input{
    position: relative;
}
.cus-input img{
    position: absolute;
    top: 10px;
    right: 15px;
}
/* DROP DOWN*/
.cus-dropdown{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 10px;
}
.cus-dropdown .dropdown span{
    padding: 0px;
    margin: auto;
    margin-right: 10px;
    cursor: pointer ;
}
.cus-dropdown .dropdown span:hover{
    text-decoration: none;
    opacity: 1;
}
.navbar-line{
    background-color: rgba(236, 240, 241, 0.6);
    width: 2px;
    height: 50px;
    position: absolute;
    right: 115px;
    top: 0;
    margin: auto 5px;
}
.dropbtn {
    background-color: transparent;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    }

.dropdown {
    position: relative;
    display: inline-block;
    margin: auto;
}

.dropdown-menu {
    margin-top:20px;
    display: none;
    position: absolute;
    background-color: #ECF0F1;
    border-radius: 5px;
    width:170px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-menu a {
    color: #223140;
    font-size: 14px;
    font-weight: 500;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.profile-outer{
    display: flex;
    flex-direction: row;
}
/* DROP DOWN END */

/* SIDEBAR MENU AREA START */
.sidebar{
    transition: all 0.4s;
    height: 100%;
    width: 300PX;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #C4C4C4;
    padding: 20px;
    display: none;
    z-index: 1;
}
.closebtn{
    position: absolute;
    top: 0px;
    right: 20px;
    font-size: 35px;
    text-decoration: none;
    color: #223140;
}
.closebtn:hover{
    text-decoration: none;
    color: #223140;
}
.logo{
    text-align: center;
}
.cus-links{
    margin-top: 30px;
}
.cus-links a{
    padding: 10px;
    display: block;
    margin-bottom: 35px;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #34495E;
    text-decoration: none;
}
.cus-links a:hover{
    transition: 0.3s;
    opacity: .9;
}
.cus-links a:nth-last-child(1){
    background-color: rgba(237, 28, 36, 0.8);
    color: #fff;
    border-radius: 2px;
    height: 60px;
    display: flex;
    align-items: center;
}
.cus-links a img{
    margin-right: 20px;
}
/* SIDEBAR MENU AREA END */

/* MAIN AREA START */

/* HEADING AREA */
.main-heading{
    margin-top: 40px;
    margin-bottom: 30px;
}
.cus-main-outer .main-heading h2{
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #ECF0F1;
}
.main-area{
    background-color: #E5E5E5;
    border-radius: 10px;
    padding: 30px 20px;
    width: 100%;
}
.cus-card{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 30px;
}
.card-inner{
    background-color:rgba(52, 73, 94, 0.5);
    border-radius: 8px;
    padding: 15px;
    width: 88%;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card-inner .employe-info{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.card-inner .employe-info .employe-name{
    margin-left: 10px;
}
.card-inner .employe-info .employe-name p:nth-child(1){
    margin: 0px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #ECF0F1;
}
.card-inner .employe-info .employe-name p:nth-child(2){
    margin: 0px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.03em;
    color: rgba(236, 240, 241, 0.5);
}
.employe-job-outter .employe-job-inner p{
    margin: 0px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.03em;
    color: rgba(236, 240, 241, 0.5);
}
.employe-job-outter .employe-job-inner p span{
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.03em;
    color: #ECF0F1;
}
.rating img, p{
    margin: 0px;
}
.rating p{
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.03em;
    color: #ECF0F1;
}
.rating img{
    height: 24px;
    width: 120px;
}
.cus-btns{
    width: 10%;
}
.cus-btns button{
    width: 100%;
    height: 35px;
    margin-left: 10px;
}
.cus-btns .edit-btn{
    background-color: #34495E;
    border-radius: 4px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    text-align: center;
    color: #ECF0F1;
}
.cus-btns .delete-btn{
    border: 0.5px solid #34495E;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    color: #34495E;
    margin-top: 10px;
}
/* MAIN AREA END */

/* MEDIA QUERRY */

@media only screen and (min-width: 200px) and (max-width: 767px){
    .profile-section{
        width: 100%;
        margin-top: 30px;
        justify-content: flex-end;
    }
    .card-inner{
        width: 65%;
        align-items: flex-start;
        flex-direction: column;
    }
    .employe-job-outter{
        margin: 20px 0px;
    }
    .cus-btns{
        width: 30%;
    }
}
@media only screen and (min-width: 200px) and (max-width: 450px){
    .card-inner{
        width: 100%;
    }
    .cus-btns{
        width: 100%;
        margin: 20px 0px;
        padding-bottom: 0px;
    }
    .cus-btns button{
        margin: 0px;
    }
}
@media only screen and (min-width: 200px) and (max-width: 650px){
    .dropdown-menu{
        left: -100px;
    }
}
   