@font-face {
    src: url(../fonts/Raleway-Regular.ttf);
    font-family: raleway;
  }
body{
    font-family: "raleway";
    background-color: #fff;
}
*{
    padding: 0px;
    margin: 0px;
}
/* DROP DOWN*/
.navbar-owner{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 10px;
}
.navbar-owner .dropdown span{
    padding: 0px;
    margin: auto;
    margin-right: 10px;
    cursor: pointer;
}
.navbar-owner .dropdown span:hover{
    text-decoration: none;
    opacity: 1;
}
.navbar-line{
    background-color: rgba(236, 240, 241, 0.6);
    width: 2px;
    height: 50px;
    position: absolute;
    right: 115px;
    top: 0;
    margin: auto 5px;
}
.dropbtn {
    background-color: transparent;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    }

.dropdown {
    position: relative;
    display: inline-block;
    margin: auto;
}

.dropdown-menu {
    margin-top:20px;
    display: none;
    position: absolute;
    background-color: #ECF0F1;
    border-radius: 5px;
    width:170px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-menu a {
    color: #223140;
    font-size: 14px;
    font-weight: 500;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* DROP DOWN END */
/* NAVBAR AREA*/
.cus-nav-bg{
    background-color: #34495E;
}
.right-nav{
    width: 60%;
    background-image: linear-gradient(rgba(52, 73, 94, 0.45), rgba(52, 73, 94, 0.45)), url("../imgs/nav-bg-img.png");
    background-size: cover;
    background-position: center;
    position: relative;
    height: auto;
    padding: 0px 120px;
}
.cus-head-pad{
    padding: 8px 0px;
}
.cus-nav-pad{
    padding: 0px;
}
.navbar{
    width: 100%;
    padding: 8px 0px;
}
.menu-img{
    width: 35px;
}
.navbar-collapse{
    justify-content: flex-end;
}
.navbar-collapse .navbar-nav .nav-item{
    font-size: 14px;
    font-weight: 500;
    color: #F8F9FA;
    text-transform: capitalize;
    margin-right: 10px;
}
.navbar-collapse .navbar-nav .nav-link:hover{
    transition: .5s;
    opacity: 0.7;
}
.cus-btn{
    background: transparent;
    color: #ffffff;
    text-transform: capitalize;
    border:  2px solid #C0392B;
    box-sizing: border-box;
    border-radius: 5px;
}
.cus-btn:hover{
    transition: 0.5s;
    color: #ffffff;
    text-decoration: none;
    border: 2px solid blue;
}
/* NAVBAR END */

/* EXPERT HEADING AREA */
.cus-expert-heading{
    padding: 0px;
    margin: 50px auto;
}
.cus-expert-heading h1{
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    color: #34495E;
}
hr{
    border: 0.5px solid rgba(52, 73, 94, 0.5);;
}

/* EXPERT MAIN AREA START */
.cus-main-margin{
    padding: 0px;
}
.cus-expert-info{
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.cus-profile{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.person-img img{
    width: 90px;
    height: 90px;
}
.cus-profile .person-name{
    margin-left: 15px;
}
.cus-profile .person-name p{
    margin: 0px;
}
.cus-profile .person-name p:nth-child(1){
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    color: #34495E;
}
.cus-profile .person-name p:nth-child(2){
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    text-transform: uppercase;
    color: #34495E;
}
.rating{
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    justify-content: center;
}
.rating p{
    padding-left: 6px;
    margin: 0px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.03em;
    color: rgba(52, 73, 94, 0.5);
}
.rating p span{
    color: #C0392B;
}

.cus-person-info p{
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.03em;
    color: rgba(52, 73, 94, 0.5);
    margin-bottom: 8px;
}
.cus-person-info p span{
    color: #34495E;
    font-size: 16px;
    font-weight: 600;
}
.cus-person-info p:nth-last-child(1) span{
    color: #0080FF;
}
.experience-area{
    margin-top: 60px;
    width: 80%;
}
.experience-area h1{
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    color: #34495E;
}
.experience-area p{
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #34495E;
    margin-bottom: 30px;
}
.cus-price-area{
    width: 100%;
    text-align: center;
}
.price-inner p:nth-child(1){
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 0.03em;
    color: #223140;
}
.price-inner p:nth-child(2){
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 0.03em;
    color: #C0392B;
}
.cus-appoin-btn{
    text-align: center;
    margin: 60px auto;
}
.cus-appoin-btn button{
    background-color: #C0392B;
    border-radius: 5px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #ECF0F1;
    height: 60px;
    width: 350px;
}
/* EXPERT MAIN AREA END */

/*FOOTER AREA STARTS*/
.footer-bg{
    background-color: #C4C4C4;
    position: absolute;
}
.footer-inner{
    align-items: baseline;
    display: flex;
    flex-direction: row;
    padding-top: 50px;
}

.footer-section1 .footer-logo{
    margin-bottom: 20px;
    width: 100px;
    height: 35px;
}
.footer-section1 .footer-logo-text{
    font-size: 16px;
    line-height: 20px;
    color: rgba(52, 73, 94, 0.5);
    margin-top: 10px;
}
.footer-section1, .footer-section2, .footer-section3, .footer-section4, .footer-section5{
    display: flex;
    flex-direction: column;
    width: 20%;
}
.footer-section2 .foot-heading, .footer-section3 .foot-heading, .footer-section4 .foot-heading, .footer-section5 .foot-heading{
    color: #223140;
    font-weight: 800;
    font-size: 16px;
    text-transform: capitalize;
    margin-bottom: 20px;
}  
.foot-link{
    color: rgba(52, 73, 94, 0.5);
    text-decoration: none;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 3px;
    margin-top: 10px;
}
.foot-link:hover{
    text-decoration: none;
    color:rgba(52, 73, 94, 0.5);
    opacity: 0.5;
    transition: 0.5s;
}
.foot-input{
margin-top:10px;
}
.foot-input .input-group-text{
    background-color: #FFFFFF;
    border: 0px;
}
.foot-input .input-txt{
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 4px;
    border: 0px;
}
.copyright-text{
    padding-top: 100px;
    display: flex;
    flex-direction: row;
}
.copyright-text .copyright{
    font-size: 14px;
    color: rgba(52, 73, 94, 0.5);
    text-transform: capitalize;
}
@media only screen and (min-width: 200px) and (max-width: 400px){
    .rating{
        margin-top: 20px;
    }
    .cus-appoin-btn button{
        width: 250px;
    }
}

@media only screen and (min-width: 200px) and (max-width: 990px){
    .navbar-line{
        display: none;
    }
    .navbar-owner{
        display: block;
        margin-left: 0px;
    }
}
/* FOOTER QUERRY */
@media only screen and (min-width: 767px) and (max-width: 1157px){
    .footer-section2{
        margin-left: 30px;
    }
    .footer-section1, .footer-section2, .footer-section3, .footer-section4, .footer-section5{
        width: 19%;
    }
}
@media only screen and (min-width: 200px) and (max-width: 767px){
    .footer-inner{
        flex-direction: column;
        margin-top: 50px;
    }
    .footer-section1, .footer-section2, .footer-section3, .footer-section4, .footer-section5{
        width: 100%;
        margin-left: 0px;
    }
    .foot-input{
        width: 50%;
    }
}
@media only screen and (min-width: 200px) and (max-width: 500px){
    .foot-input{
        width: 80%;
    }
}