@font-face {
    src: url(../fonts/Raleway-Regular.ttf);
    font-family: raleway;
  }
body{
    font-family: "raleway";
    background-color: #34495E;
    padding: 0px;
    margin: 0px;
}
*{
    padding: 0px;
    margin: 0px;
}
.cus-signup-bg{
    position: relative;
    width: 100%;
    padding: 0px;
    margin: 0px;
}
.cus-bg-inner::after{
    content: "";
    position: absolute;
    bottom: 0px;
    right: 0px;
    background-image: url("../imgs/Group\ 328.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 755px;
    width: 100%;
    z-index: -1;
}

.signup-outer{
    margin-top: 100px;
    margin-bottom: 40px;
    z-index: 1;
}
.company-logo{
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
}
.company-logo img{
    width: 100px;
    height:114px;
}
.login-form{
    background-color: #FFFFFF;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    padding: 60px 100px;    
    width: 50%;
    margin: 0px  auto;
}
.cmpny-heading{
    width: 100%;
    margin-bottom: 80px;
    text-align: center;
}
.cmpny-heading h3{
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    color: #223140;
}
.form-group{
    width: 100%;
}
.form-group input{
    height: 60px;
    border: 0.5px solid #223140;
    box-sizing: border-box;
    border-radius: 10px;
    margin-top: 20px;
}
::-webkit-input-placeholder{
    font-family: raleway;
    font-size: 16px;
    letter-spacing: 0.03em;
    color: #C4C4C4 !important;
}
.signup-btn{
    width: 100%;
}
.signup-btn button{
    width: 100%;
    background-color:#E74C3C;
    border-radius: 100px;
    height: 60px;
    color: #FFFFFF;
    font-size: 18px;
    font-family: raleway;
    letter-spacing: 0.3em;
    margin-top: 80px;
}
.signup-btn button:hover{
    color: #FFFFFF;
    opacity: 0.8;
    transition: 0.3s;
}
.login-btn{
    width: 100%;
    text-align: center;
    margin: 30px auto 60px auto ;
}
.login-btn span{
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 0.03em;
    color: #223140;
}
.login-btn span a{
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.03em;
    color: #C0392B;
}
.login-btn span a:hover{
    text-decoration: none;
    opacity: 0.8;
    transition: 0.3s;
}



/* MEDIA QUERRY*/

@media only screen and (min-width: 200px) and (max-width: 992px){
    .navbar-line{
        display: none;
    }
    .navbar-collapse button{
        margin-top: 5px;
    }
    .navbar-collapse .navbar-nav .nav-item{
        margin-top: 5px;
        margin-left: 0px;
    }
}
@media only screen and (max-width: 990px){
    .navbar-collapse button{
        margin-top: 5px;
    }
    .card-inner{
        margin-top: 40px;
    }
    .row{
        margin-top: 0px;
    }

}
@media only screen and (min-width: 200px) and (max-width: 1024px){
    .login-form{
        padding: 50px 90px;
        width: 70%;
    }
}
@media only screen and (min-width: 650px) and (max-width: 767px){
    .login-form{
        padding: 50px 90px;
        width: 80%;
    }
    .cus-bg-inner::after{
        display: none;
    }
}
@media only screen and (min-width: 200px) and (max-width: 767px){
    
    .cmpny-heading h3 {
        font-size: 28px;
        width: 100%;
    }
}
@media only screen and (min-width: 530px) and (max-width: 649px){
    .login-form{
        padding: 50px 70px;
        width: 90%;
    }
}
@media only screen and (min-width: 469px) and (max-width: 529px){
    .login-form{
        padding: 50px;
        width: 90%;
    }
}
@media only screen and (min-width: 200px) and (max-width: 468px){
    .login-form{
        width: 100%;
        margin: 0px;
    }
}
@media only screen and (min-width: 390px) and (max-width: 468px){
    .login-form{
        padding: 30px;
    }
}
@media only screen and (min-width: 200px) and (max-width: 389px){
    .login-form{
        padding: 20px;
    }
}


@media only screen and (min-width: 767px) and (max-width: 1157px){
    .footer-section2{
        margin-left: 30px;
    }
    .footer-section1, .footer-section2, .footer-section3, .footer-section4, .footer-section5{
        width: 19%;
    }
}
@media only screen and (min-width: 200px) and (max-width: 767px){
    .footer-inner{
        flex-direction: column;
        margin-top: 50px;
    }
    .footer-section1, .footer-section2, .footer-section3, .footer-section4, .footer-section5{
        width: 100%;
        margin-left: 0px;
    }
    .foot-input{
        width: 50%;
    }
}